.cool-chart {
    .panel-legend-control {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 3;
        pointer-events: none;
        transform: translateZ(0);
        user-select: none;
        box-sizing: border-box;
        padding: 4px 0 0 4px;
        display: flex;
        .panel-widget-legend {
            flex: 1;
            min-width: 0;
            pointer-events: none;
            user-select: none;
            .legend-main {

            }
            .legend-sources {
    
            }
        }
        .panel-widget-control {
            display: flex;
            align-items: center;
            margin-left: 10px;
            .panel-control-btn {
                width: 20px;
                height: 20px;
                margin-left: 6px;
            }
        }
     
    }
    .panel-widget-drogline {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(235,235,235,1);
    }
}